{{ define "main" }}
  <h1>Séries</h1>
  {{ .Content }}

  {{ $liste := slice }}
  {{ range .Data.Terms.Alphabetical }}
    {{ if (gt .Count 1) }}
      {{ $term := .Page }}
      {{ range first 1 $term.Pages.ByDate.Reverse }}
        {{ $title := $term.Title }}
        {{ with .Resources.GetMatch "meta.json" }}
          {{ $metadata := . | transform.Unmarshal }}
          {{ with $metadata.name }}{{ $title = . }}{{ end }}
        {{ end }}
        {{ $liste = $liste | append (dict "url" $term.Permalink "title" $title "page" .) }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  <div class="articles">
    {{ range sort $liste "title" }}
    <section class="item">
      <div>
        <a href="{{ .url }}">
          {{ partial "image-list.html" (dict "page" .page "eager" false) }}
        </a>
      </div>
    </section>
    {{ end }}

{{ end }}
