{{ define "main" }}
<main>
    <article>
        <header>
            <h1><em>{{ partial "tmdb-term-title.html" . }}</em></h1>
        </header>
        <section id="single">
            <div class="content">
                <div class="article">
                    {{.Content}}
                </div>
            </div>
        </section>
    </article>

    <!-- Ranges through content/posts/*.md -->
    <div class="articles">
        {{ range (.Paginate .Pages).Pages.ByDate }}
        <section class="item">
          <div >
            <a href='{{ .RelPermalink }}'>
                {{ partial "image-list.html" (dict "page" . "eager" false) }}
            </a>
          </div>
        </section>
        {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
