{{ define "main" }}
  <h1>Séries</h1>
  {{ .Content }}

  {{ $liste := slice }}
  {{ range .Data.Terms.Alphabetical }}
    {{ if (gt .Count 1) }}
      {{ $term := .Page }}
      {{ range first 1 $term.Pages.ByDate.Reverse }}
        {{ $title := $term.Title }}
        {{ with .Resources.GetMatch "meta.json" }}
          {{ $metadata := . | transform.Unmarshal }}
          {{ with $metadata.name }}{{ $title = . }}{{ end }}
        {{ end }}
        {{ $poster := resources.Get (printf "legacy/tmdb/%v.jpg" .Params.tmdb) }}
        {{ if $poster }}
          {{ $liste = $liste | append (dict "url" $term.Permalink "title" $title "poster" $poster) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  <div class="articles">
    {{ range $index, $item := sort $liste "title" }}
    <section class="item">
      <div>
        <a href="{{ $item.url }}">
          {{ partial "responsive-image.html" (dict "image" $item.poster "alt" $item.title "sizes" "(min-width: 1800px) calc((100vw - 1.5em) / 4), (min-width: 1200px) calc((100vw - 1em) / 3), (min-width: 800px) calc((100vw - 0.5em) / 2), 100vw" "loading" (cond (eq $index 0) "eager" "lazy")) }}
        </a>
      </div>
    </section>
    {{ end }}

{{ end }}
