{{ $metadata := .Get "meta" }}
{{ $countries := .Get "countries" }}
{{ $pays := .Get "pays" }}
{{ $original := .Get "original" }}
{{ $saga := .Get "saga" }}

<div class="meta ">
    <h3>Informations</h3>
    <div class="col">

    {{ if $saga }}
        <p><strong>Saga</strong> : <em><a href="{{ $saga.url }}" >{{ $saga.title }}</a></em></p>
    {{ end }}

    {{ with $original }}
        <p><strong>Titre original</strong> : <em>{{ . }}</em></p>
    {{ end }}
    
        {{ with $metadata.authors }}
            <ul>
                <li>{{ if gt (len .) 1 }}<strong>Auteurs</strong>{{else}}<strong>Auteur</strong>{{end}} : </li>
                {{ range . }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}
        {{ with $metadata.publisher }}<p><strong>Éditeur</strong> : {{ . }}</p>{{ end }}
        {{ with $metadata.publishedDate }}<p><strong>Année</strong> : {{ if eq (len .) 4 }} {{ . }} {{ else }} {{ time.Format "2006" . }} {{ end }}</p>{{ end }}

        {{ if $pays }}
            <p><strong>Nationalité</strong> : {{ range where $countries ".alpha2" $pays }} {{ .name }} {{ end }}</p> 
        {{ end }}
        {{ with $metadata.pageCount }}<p><strong>Pages</strong> : {{ . }}</p>{{ end }}
    </div>
</div>
