{{ $metadata := .Get "meta" }}
{{ $cast := .Get "cast" }}
{{ $countries := .Get "countries" }}
{{ $saison := .Get "saison" }}

<div class="meta">
    <h3>Informations</h3>
    
    {{ if ne $metadata.name $metadata.original_name }}
        <p><strong>Titre original</strong> : <em>{{ $metadata.original_name }}</em></p>
    {{ end }}

    <ul>
        <li><strong>Créateurs</strong> :</li>
        {{ range $metadata.networks }}
            <li><a href="https://www.themoviedb.org/network/{{ string .id  }}" target="_blank">{{ .name }}</a></li>
        {{ end }}
        {{ range $metadata.created_by }}
            <li><a href="https://www.themoviedb.org/person/{{ string .id  }}" target="_blank">{{ .name }}</a></li>
        {{ end }}
    </ul>

    <p><strong>Année</strong> :
        {{ if gt $saison 0 }}
            {{ if gt $saison 1 }}
                {{ $saisonStart := delimit (first 1 $saison) "" }}
                {{ $saisonEnd := delimit (last 1 $saison) "" }}
                {{ $dateStart := 0 }}
                {{ $dateEnd := 0 }}
                {{ range where $metadata.seasons ".season_number" (int $saisonStart) }}
                    {{ $dateStart = time.Format "2006" .air_date }}
                {{ end }}
                {{ range where $metadata.seasons ".season_number" (int $saisonEnd) }}
                    {{ $dateEnd = time.Format "2006" .air_date }}
                {{ end }}
                {{ if ne $dateStart $dateEnd }}
                    {{ $dateStart }} à {{ $dateEnd }}
                {{ else }}
                    {{ $dateStart }}
                {{ end }}
            {{ else }} 
                {{ range where $metadata.seasons ".season_number" ( int (delimit (first 1 $saison) "" ) ) }}
                    {{ time.Format "2006" .air_date }}
                {{ end }} 
            {{ end }}
        {{ else }}
            {{ time.Format "2006" $metadata.first_air_date }}{{ if ne (time.Format "2006" $metadata.first_air_date) (time.Format "2006" $metadata.last_air_date) }} à {{ time.Format "2006" $metadata.last_air_date }}{{ end }}
        {{ end }} 
    </p>

    <ul>
        <li>{{if gt (len $metadata.origin_country ) 1}}<strong>Nationalités</strong>{{else}}<strong>Nationalité</strong>{{end}} :</li>
        {{ range $metadata.origin_country }}
            {{ $code := (lower . | string) }}
            {{ range where $countries ".alpha2" $code }}
                <li>{{ .name }}</li>
            {{ end }}
        {{ end }}
    </ul>

    {{ with $cast.cast }}
        <ul>
            <li><strong>Acteurs</strong> :</li>
            {{ range first 10 . }}
                <li><a href="https://www.themoviedb.org/person/{{ string .id  }}" target="_blank">{{ .name }}</a></li>
            {{ end }}
        </ul>
    {{ end }}

    <ul>
        <li>{{if gt (len $metadata.genres ) 1}}<strong>Genres</strong>{{else}}<strong>Genre</strong>{{end}} :</li>
    {{ range $metadata.genres }}
        <li>{{.name}}</li>
    {{ end }}
    </ul>

    <p><strong>Durée</strong> :
        {{ if gt $saison 0 }} 
            {{ if gt $saison 1 }} 
                {{ $episodes := 0 }}
                {{ range  seq (int (delimit (first 1 $saison) "" )) ( int (delimit (last 1 $saison) "" )) }}
                    {{ range where $metadata.seasons ".season_number" (int . ) }}
                        {{ $episodes = add $episodes .episode_count }}
                    {{ end }}
                {{ end }}
                {{ $episodes }}
            {{ else }}
                {{ range where $metadata.seasons ".season_number" ( int (delimit (first 1 $saison) "" ) ) }}
                    {{ .episode_count }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $metadata.number_of_episodes }}
        {{ end }}épisodes 
        {{ $duree := 0 }}
        {{ range first 1 $metadata.episode_run_time }}{{ $duree = . }}{{ end }}
        {{ if ne $duree 0 }}
            de {{ $duree }} minutes
        {{ end }}
    </p>
</div>