{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{ .Site.Title }}</h1>
      </header>
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div class="articles">
        {{ range (.Paginate  (where .Site.RegularPages "Type" "ne" "pages") ).Pages }}
        <section class="item">
            <a href='{{ .RelPermalink }}'>
              {{ partial "image.html" . }}
        </a>
        </section>
        {{ end }}
      </div>
      
        {{ template "_internal/pagination.html" . }}
    </main>
{{ end }}