{{ define "main" }}

<section id="single">

    {{ partial "image.html" . }}

    <div class="content">
        <h1 class="title">{{ .Title | markdownify }}</h1>
        {{ partial "meta-top.html" . }}
        
        <div class="article">{{ .Content }}</div>

        {{ $infos := newScratch }}
        
        {{ if $.Param "id" }}
            {{ $id := string ($.Param "id") }}
            {{ $infos.Set "id" $id }}
            {{ if .Resources.GetMatch "meta.json" }}
                {{ $data := .Resources.GetMatch "meta.json" | unmarshal }}
                {{ $infos.Set "meta" $data.data }}
            {{ else }}
                {{ with resources.GetRemote (printf "%s%s" "https://store.steampowered.com/api/appdetails?l=french&appids=" $id) }}
                    {{ $infos.Set "meta" (index (. | unmarshal) $id).data }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ $infos.Set "genres" .Site.Data.genres }}

        {{ with $infos.Get "meta" }}
            {{ if gt (len .) 0 }}
                {{ partial "meta/jeu-video.html" $infos }}
            {{ end }}
        {{ end }}

</div>
</section>

{{ end }}
