<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/littlefoot.css">
   
    <link rel="icon" href="/img/favicon.ico" sizes="any">
    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
    <link rel="manifest" href="/img/manifest.webmanifest">

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    {{ $title := printf "%s" .Site.Title | printf "%s%s" " - " | printf "%s%s" .Title | markdownify | plainify |  printf "%s" }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "social.html" .}}
</head>