{{ with partial "GetImage.html" . }}
    {{ $image := . }}
	{{ $width := $image.Width }}
	{{ $image1000 := $image.Resize "1000x q70 MitchellNetravali" }}
	{{ $image1500 := $image.Resize "1500x q70 MitchellNetravali" }}
	{{ $image2000 := $image.Resize "2000x q70 MitchellNetravali" }}

    <div class="image">
        <img src="{{ $image.RelPermalink }}"
			srcset="{{ if gt $image.Width 1000 }} {{ $image1000.RelPermalink }} 1000w,{{ end }},
				{{ if gt $image.Width 1500 }} {{ $image1500.RelPermalink }} 1500w,{{ end }}
				{{ if gt $image.Width 2000 }} {{ $image2000.RelPermalink }} 2000w,{{ end }}
				{{ $image.RelPermalink }} {{ $image.Width }}w"
            alt="{{ .Title | markdownify }}"
            loading="lazy"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}"
        >
    </div>
{{ end }}
