{{ $titre := .Title | markdownify }}
{{ with partial "GetImage.html" . }}
    {{ $image := . }}
	{{ $width := $image.Width }}
	{{ $image1000 := $image.Resize "1000x q70 MitchellNetravali" }}
	{{ $image1500 := $image.Resize "1500x q70 MitchellNetravali" }}
	{{ $image2000 := $image.Resize "2000x q70 MitchellNetravali" }}

    <div class="image">
        <img data-pagefind-meta="image[src]" src="{{ $image.Permalink }}"
			srcset="{{ if gt $image.Width 1000 }} {{ $image1000.Permalink }} 1000w,{{ end }},
				{{ if gt $image.Width 1500 }} {{ $image1500.Permalink }} 1500w,{{ end }}
				{{ if gt $image.Width 2000 }} {{ $image2000.Permalink }} 2000w,{{ end }}
				{{ $image.Permalink }} {{ $image.Width }}w"
            alt="{{ $titre }}"
            loading="lazy"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}"
        >
    </div>
{{ end }}
