{{ if .Params.image }}
    {{ $image := .Resources.GetMatch .Params.image }}
    {{ $image500 := $image.Resize "500x q70 MitchellNetravali" }}
    {{ $image1000 := $image.Resize "1200x q70 MitchellNetravali" }}
    {{ $image1500 := $image.Resize "1500x q70 MitchellNetravali" }}

    <div class="image">
        <img srcset="{{ $image500.RelPermalink }} 500w, {{ $image1000.RelPermalink }} 1000w, {{ $image1500.RelPermalink }} 1500w"
            src="{{ $image.RelPermalink }}"
            alt="{{ .Title | markdownify }}"
            loading=lazy
            width="{{ $image.Width }}"
            height="{{ $image.Height }}"
        >
    </div>
{{ end }}
