<link rel="preload" href="/css/style.css" as="style">
<link rel="preload" href="/fonts/PlayfairDisplay.woff2" as="font" crossOrigin="anonymous">

{{ if .IsPage }}
    <link rel="preload" href="/fonts/EBGaramond.woff2" as="font" crossOrigin="anonymous">
{{ end }}

{{ if .IsHome }}
    {{ range first 3 (where .Site.RegularPages "Type" "ne" "pages")  }}
        {{ $image := .Resources.GetMatch .Params.image }}
        {{ $image1000 := $image.Resize "1000x q70 MitchellNetravali" }}
        <link rel="preload" href="{{ $image1000.RelPermalink }}" as="image">
    {{ end }}
{{ end }}