<script src="/js/fuse.min.js" as="module" async></script>

<div class="recherche">
    <form id="search" role="search" aria-haspopup="listbox" aria-labelledby="search-label" >
        <label id="search-label" class="fas fa-search"></label>
    
        <input
        id="search-input"
        type="search"
        list="search-results"
        placeholder="Search..." 
        aria-label="Search"
        autocomplete="off"
        spellcheck="false"
        
        >
        </input>
    
        <ul id="search-results" role="listbox" hidden="true">
        </ul>
    </form>
</div>

<script defer as="module">
    import Fuse from "fuse.min.js"
    var search_form = document.getElementById('search'); // search form
    var search_input = document.getElementById('search-input'); // input box for search
    var search_submit = document.getElementById('search-submit'); // form submit button
    var search_results = document.getElementById('search-results'); // targets the <ul>
    var fuse; // holds our search engine
  
    fetch_JSON('/index.json', function(data){
        var options = { // fuse.js options; check fuse.js website for details
            shouldSort: true,
            location: 0,
            distance: 100,
            threshold: 0.4,
            minMatchCharLength: 2,
            keys: [
                { name: "title", weight: 7 },
                { name: "section", weight: 1 }
              ]
        };
        
        fuse = new Fuse(data, options); // build the index from the json file
        
        search_input.addEventListener('keyup', function(e) { // execute search as each character is typed
            search_exec(this.value);
        });
        console.log("index.json loaded"); // DEBUG
    });
  
  
    function fetch_JSON(path, callback) {
        console.log("index.json"); // DEBUG
    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function() {
      if (httpRequest.readyState === 4) {
        if (httpRequest.status === 200) {
          var data = JSON.parse(httpRequest.responseText);
            if (callback) callback(data);
        }
      }
    };
    httpRequest.open('GET', path);
    httpRequest.send();
  }
  
    function search_exec(term) {
    let results = fuse.search(term); // the actual query being run using fuse.js
    let search_items = ''; // our results bucket
  
    if (results.length === 0) { // no results based on what was typed into the input box
      results_available = false;
      search_items = '';
    } else { // build our html
      for (let item in results.slice(0,5)) { // only show first 5 results
        search_items = search_items +
  `<li><a href="${results[item].item.permalink}" tabindex="0">
  <span class="title">${results[item].item.title}</span>
  <span class="date">${results[item].item.date}</span>
  <span class="summary">${results[item].item.summary}</span>
  <span class="section">${results[item].item.section}</span>
  <span class="categories">${results[item].item.categories.join(', ')}</span>
  <span class="tags">${results[item].item.tags.join(', ')}</span>
  </a></li>`;
      }
      results_available = true;
    }
  
    search_results.innerHTML = search_items;
    if (results.length > 0) {
      first = search_results.firstChild.firstElementChild; // first result container — used for checking against keyboard up/down location
      last = search_results.lastChild.firstElementChild; // last result container — used for checking against keyboard up/down location
    }
  }
</script>